:root {
  --code-bg: #ededed;
  --code-fg: #000;
  --code-title-fg: #7b7b7b;
  --code-lang-fg: #6b6b6b;
  --code-font: monospace;
}
.code {
  display: flex;
  flex-direction: column;
  background-color: var(--code-bg);
  padding: 20px;
}
.code > * {
  font-family: var(--code-font);
}
.code .info {
  display: flex;
  justify-content: space-between;
}
.code .title {
  color: var(--code-title-fg);
}
.code .lang {
  font-size: 12px;
  color: var(--code-lang-fg);
  align-self: flex-end;
}
.code pre {
  color: var(--code-fg);
  max-width: 100%;
  overflow-x: auto;
}
